#layout{
    background-image: url(img/layout.jpg);
    position: absolute;
    top: 0;
    max-width: 100%;
    height: 500vh;
    z-index: -1;
    opacity: 0.3;
    display: none;
}

/* General */
body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 100%;
    max-width: 1230px;
    margin: auto;
}

button{
    border-radius: 25px;
    border: 0;
    padding: 18px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.725rem;
}

button.solid-orange{
    background-color: #fdad31;
    color: white;
}

button.solid-green{
    background-color: #00a651;
    color: white;
}

.upper{
    text-transform: uppercase;
}

.rotate{
    transform: rotate(-90deg)
}

/* Header */
header{
    justify-content: space-between;
    padding: 12px 0;
    align-items: center;
    box-sizing: border-box;
}

header > img:first-child{
    margin-top: -10px;
    margin-left: 32px;
}

header > img:nth-child(2){
    position: absolute;
    right: 30px;
    width: 30px;
}

nav{
    display: flex;
    flex-direction: column;
    transform: translateY(-200%);
    transition: .5s transform;
    position: absolute;
    background-color: white;
    width: 100%;
    padding: 0 32px;
    box-sizing: border-box;
}

nav.visible{
    transform: translateY(0);
}

nav > div > a{
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-size: 0.7rem;
    margin: 0 5.2px;
}

nav > .buttons{
    display: flex;
    justify-content: space-evenly;
    order: 2;
    margin-top: 15px;
}

nav > .buttons > button{
    margin: 0 10px;
    width: 45%;
}

nav > .buttons > button{
    padding: 10px 0;
}

nav > .buttons > button:last-child{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav > .buttons > button:last-child > img{
    margin: 0 5px;
}

nav > div:first-child{
    margin-right: 12px;
}

nav > div > a{
    display: block;
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-size: .9rem;
    margin: 10px 0;
}

nav > select{
    border: 0;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: .9rem;
    order: 1;
    margin-left: -3px;
}

.banner{
    background-image: url(http://i63.tinypic.com/2i7b77c.png);
    background-repeat: no-repeat;
    height: 486px;
}

.banner-txt{
    color: white;
    padding: 25% 25%;
}

.banner h1{
    font-size: 20px;
    font-weight: 200;
}

.plane{
    position: absolute;
    top: 500px;
    left: 45%;
}

.apresentacao{
    max-width: 100%;
    height: 1846px;
}

.efeito{
    background-image: url(http://i68.tinypic.com/28upoac.png);
    background-repeat: no-repeat;
    margin-top: 0;
    height: 355px;
}

.apresentacao img:nth-child(2){
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: -300px 0;
}

.apresentacao img:nth-child(3){
    max-width: 100%;
    position: relative;
    left: 170px;
    top: 260px;
    z-index: 2;
}
.apresentacao img:nth-child(4){
    max-width: 100%;
    position: relative;
    z-index: 1;
    top: 220px;
}

.apresentacao-topo{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    overflow: hidden;
    padding: 210px 25% 25% 25%;
}

.safe h2{
    color: #157cf0;
    font-size: 59px;
    font-weight: 800;
    padding: 10px 0;
}

.safe h4{
    position: relative;
    left: 130px;
    top: -180px;
}

.safe p{
    position: relative;
    top: -80px;
    font-size: 14px;
}

.safe a{
    border-width: 15px;
    border-color: #fdad31;
    border-radius: 25px;
    color: #fdad31;
    background-color: white;
    text-decoration: none;
    padding: 5px;
    position: relative;
    top: -55px;
    font-size: 11px;
}

iframe {
    max-width: 100%;
    height: auto;
}

.vantagens{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.preco, .experiencia, .recompensa{
    text-align: center;
}

.dreamtrips{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    text-align: center;
}

.pla{
    color: #fff;
    background-color: #fdad31;
    padding: 0 5px;
}

.pon{
    color: #157cf0;
    font-weight: 900;
}

.pre{
    position: relative;
    left: 200px;
    top: 30px;
}

.reco{
    position: relative;
    text-align: start;
    bottom: 198px;
    left: 215px;
}

.pro{
    position: relative;
    text-align: start;
    bottom: 198px;
    left: 215px;
}

@media(min-width: 992px){
    header{
        display: flex;
        padding: 12px 32px;
    }
    
    nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 5px;
        transform: translateY(0);
        position: static;
        width: auto;
        padding: 0;
    }

    header > img:first-child{
        margin: 0;
    }

    header > img:nth-child(2){
        display: none;
    }
    
    nav > div > a{
        display: inline;
        margin: 0 5.2px;
        font-size: 0.7rem;
    }

    nav > .buttons{
        margin-top: 0;
    }

    nav > .buttons > button{
        margin: 0 10px;
    }
    
    nav > .buttons > button:first-child{
        padding: 15px 28px;
    }
    
    nav > .buttons > button:last-child{
        display: flex;
        align-items: center;
        padding: 15px 18px;
    }

    nav > select{
        font-size: 0.7rem;
        width: 4rem;
        margin-left: 0;
        order: 3;
    }
    
    .banner{
        width: 100%;
    }

    .banner-txt h1{
        margin-top: -200px;
    }

    .plane{
        position: absolute;
        top: 520px;
        left: 50%;
    }

    .apresentacao{
        max-width: 100%;
        height: 1846px;
    }
    
    .efeito{
        background-image: url(http://i68.tinypic.com/28upoac.png);
        background-repeat: no-repeat;
        margin-top: 0;
        height: 355px;
    }
    
    .apresentacao img{
        max-width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        margin-top: -200px;
        margin-left: 10%;
    }

    .apresentacao img:nth-child(2){
        max-width: 100%;
        width: 80%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        margin-top: -250px;
        margin-left: 10%;
    }
    
    .apresentacao img:nth-child(3){
        position: relative;
        left: 33%;
        top: 12%;
        z-index: 2;
    }

    .apresentacao img:nth-child(4){
        position: relative;
        z-index: 1;
        margin-top: -70px;
        margin-left: 5%;
    }

    .apresentacao-topo{
        display: flex;
        flex-direction: initial;
        justify-content: space-around;
        align-content: center;
        overflow: hidden;
        padding: 220px 150px;
    }

    .safe h2{
        color: #157cf0;
        font-size: 79px;
        font-weight: 800;
    }

    .safe h4{
        position: relative;
        left: 170px;
        top: -210px;
    }

    .safe p{
        position: relative;
        top: -80px;
        font-size: 14px;
    }

    .safe a{
        border-width: 15px;
        border-color: #fdad31;
        border-radius: 25px;
        color: #fdad31;
        background-color: white;
        text-decoration: none;
        padding: 5px;
        position: relative;
        top: -55px;
        font-size: 11px;
    }

    iframe {
        max-width: 100%;
        width: 560px;
        height: 315px;
    }

    .vantagens{
        display: flex;
        flex-direction: initial;
        justify-content: center;
    }

    .preco{
        align-self: flex-start;
        
    }
    
    .experiencia{
        position: relative;
        top: 130px;
    }

    .recompensa{
        position: relative;
        top: 270px;
    }

    .preco, .experiencia, .recompensa{
        padding: 3%;
        text-align: end;
    }
    
    .dreamtrips{
        display: flex;
        align-content: center;
        justify-content: space-evenly;
        text-align: right;
        font-size: 12px;
        margin-top: -120px;
        margin-left: 35px;
    }

    .platinum {
        padding-left: 20px;
    }

    .platinum h6, .gold h6{
        font-size: 16px;
    }

    .preco h5{
        margin-top: -50px;
    }

    .experiencia h5{
        margin-top: -80px;
    }
}
